extends layout 

block content 
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='book') Book: 
      select#book.form-control(type='select' placeholder='Name of book' name='book' required='true')
        - books.sort((a, b) => {let textA = a.title.toUpperCase();let textB = b.title.toUpperCase();return (textA < textB)? -1 : (textA > textB)? 1 : 0;});
        for book in books 
          if bookinstance
            //-Handle GET form, where bookinstance.book is an object, and POST form, where it is a string.
            option(
              value=book._id
              selected=(
                book._id.toString()==bookinstance.book._id
                || book._id.toString()==bookinstance.book
              )? 'selected' : false
            ) #{book.title}
          else 
           option(value=book._id) #{book.title}